## Steps to verify code

Verify that the code works, not necessary running the code, but going through the algorithm.

1. Conceptual walk through: explain the lines and structures in general.
2. Hot spots: where are the risks of the code, where the error can pop out. **Math, Moving indices, Parameters for recursion, base cases, etc.**
3. Test cases: write down a few test cases to verify the code. Simply cases: **Small test cases, edge cases (null, empy parameter, single element) or (punctuation, sorted, duplicates).

#### Mistakes to avoid

1. Dont assume the code works, put values and make calculations.
2. Check for partial values in the operations and the values expected there.
3. Think what the bug actually is. Check the error, give time to find the cause.